<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>IMDB Search API</title>
    <link href="../static/css/fonts.css" rel="stylesheet" />
    <link href="../static/css/error404.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page">
      <h1 class="error-text">404</h1>
      <p class="error-text-desc">
        Oh, bummer! The video you are looking for cannot be found. Click the
        button below to return to IMDB Search homepage and begin another search.
      </p>
      <a href="/" class="return-btn">Homepage</a>
    </div>
  </body>
</html>
