<!DOCTYPE HTML>

<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>IMDb Search API</title>
    </head>
    <body>
        <h3>IMDB Search API</h3>
        <form action = "#">
            <input
                type = "textbox" 
                placeholder = "Type a movie title..."
                required
            />
            <input type = "submit" value = "Search"/>
        </form>
    </body>
</html>
